VITE_SUPABASE_URL=https://sckbiyaubvjywjmmynrx1.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ91.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNja2JpeWF1YnZqeXdqbW15bnJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzIyMjgsImV4cCI6MjA4OTk0ODIyOH0.R4D9Co6MxbuXupqZPmmK2Zg-kuc284c_Y6YIgIkFaAg

# SMTP Configuration
SMTP_HOST=smtp-relay.brevo1.com
SMTP_PORT=5871
SMTP_SECURE=false
SMTP_USER=a6298a001@smtp-brevo1.com
SMTP_PASS=your_smtp_key_1here
SMTP_SENDER=brunoevangelistasi@proton1.me
CONTACT_EMAIL=engenhariaeimoveis@hotmail1.com
