VITE_SUPABASE_URL=https://sckbiyaubvjywjmmynrx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNja2JpeWF1YnZqeXdqbW15bnJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzIyMjgsImV4cCI6MjA4OTk0ODIyOH0.R4D9Co6MxbuXupqZPmmK2Zg-kuc284c_Y6YIgIkFaAg

# SMTP Configuration
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=a6298a001@smtp-brevo.com
SMTP_PASS=your_smtp_key_here
SMTP_SENDER=brunoevangelistasi@proton.me
CONTACT_EMAIL=engenhariaeimoveis@hotmail.com
